body{
    padding-bottom: 50px;
}

.jumbotron{
    position: relative;
}

.jumbotron .txt{
    position: relative;
    z-index: 2;
}

.jumbotron:before{
    content: url("../images/chaton2.png");
    display: block;
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 10px;
}

.video{
    position: relative;
    cursor: crosshair;
}

.video:before{
    /*content: url("../images/chaton2.png");*/
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video img{
    position: relative;
    z-index: 1;
}

#video {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#video img, .img-thumbnail{
    padding: 0;
}

#calibrateLayer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.no-margin-top{
    margin-top: 0;
}

.hide{
    display: none;
}

.red{
    color: #FF0000;
}